/* Import Fonts from Google */
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* Full-Page Formatting */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.directory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.top-navset {
    display: flex;
    flex-wrap: wrap;
}
.lower-navset {
    display: flex;
    flex-wrap: wrap;
}
.full-navset {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 10em;
    width: 16em;
}
.nav-list {
    padding: 0em 1em;
    list-style: none;
    width: 6em;
    display: flex;
    flex-wrap: nowrap;
}

